<!DOCTYPE html>
<html lang="ru"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Товары склада</title>
    <link href="/../static/styles.css" rel="stylesheet" media="screen">
</head>
<body>
<div layout:fragment="content">
    <hr class="hr"/>
    <h3>Поиск товара</h3>
    <form method="POST" th:action="@{/products/search}" th:object="${productSearchForm}">
        <div class="mt-0 row g-2">
            <div class="col-md">
                <div class="form-floating">
                    <input name="productTitle" type="text" class="form-control" id="title"
                           placeholder="Название товара">
                    <label for="title">Название товара</label>
                </div>
            </div>
            <div class="col-md">
                <div class="form-floating">
                    <input name="providerName" type="text" class="form-control" id="name"
                           placeholder="Название поставщика">
                    <label for="name">Поставщик</label>
                </div>
            </div>
            <div class="row g-2">
                <button type="submit" class="btn btn-secondary">Найти товар</button>
            </div>
        </div>
    </form>
    <hr class="mt-3 hr"/>
    <div class="mt-5">
        <div class="row">
            <div class="col">
                <h2>Все товары на складе</h2>
            </div>
            <div class="col">
                <a
                        sec:authorize="isAuthenticated() && hasRole('MODERATOR')"
                        href="/products/add"
                        class="btn btn-success"
                        role="button"
                        style="float: right"
                        aria-disabled="true">Добавить товар</a>
            </div>
        </div>
        <div>
            <table class="table table-hover mt-3">
                <thead>
                <tr>
                    <th scope="col">Название</th>
                    <th scope="col">Категория</th>
                    <th scope="col">Описание</th>
                    <th scope="col">Ед. изм.</th>
                    <th scope="col">Цена за шт.</th>
                    <th scope="col">Позиция на складе</th>
                    <th scope="col">Осталось</th>
                    <th scope="col">Поставщики</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="product : ${products}">
                    <td>
                        <a class="text-link text-blue" th:href="'/products/' + ${product.getId()}"
                           th:text="${product.getTitle()}"></a>
                    </td>
                    <td th:text="${product.getCategory()}"></td>
                    <td th:text="${product.getDescription()}"></td>
                    <td th:text="${product.getMeasureUnit()}"></td>
                    <td th:text="${product.getPrice()}"></td>
                    <td th:text="${product.getWarehousePosition()}"></td>
                    <td th:classappend="${product.getQuantityLeft() <= 0} ? 'not-enough-product'"
                        th:text="${product.getQuantityLeft()} <= 0 ? 'Нет в наличии' : ${product.getQuantityLeft()}"></td>
                    <td>
                        <ul>
                            <li th:each="provider : ${repository.findAllById(product.getProviderIds())}"
                                th:text="${provider.getName()}"></li>
                        </ul>
                    </td>
                    <td>
                        <div sec:authorize="isAuthenticated() && hasRole('MODERATOR')">
                            <a class="btn btn-sm btn-outline-success"
                               th:href="'/products/update/' + ${product.getId()}">Редактировать</a>
                            <a th:if="${!product.getIsDeleted()}" class="btn btn-sm btn-outline-danger"
                               th:href="'/products/delete/' + ${product.getId()}"
                               onclick="return confirm('Вы действительно хотите удалить товар?');">Удалить</a>
                            <a th:if="${product.getIsDeleted()}" class="btn btn-sm btn-outline-warning"
                               th:href="'/products/restore/' + ${product.getId()}">Восстановить</a>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div>
            <nav aria-label="Pagination" th:if="${products.totalPages gt 0}">
                <ul class="pagination justify-content-center font-weight-bold">
                    <li class="page-item" th:classappend="${products.number eq 0} ? 'disabled'">
                        <a class="page-link"
                           th:href="@{/products?page={id}(id=${products.number lt 2 ? 1 : products.number})}"
                           aria-label="Previous" title="Previous Page" data-toggle="tooltip">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item" th:classappend="${i eq products.number + 1} ? 'active'"
                        th:each="i : ${#numbers.sequence( 1, products.totalPages, 1)}">
                        <a class="page-link" th:href="@{/products?page={id}(id=${i})}" th:text="${i}"
                           th:title="${'Page '+ i}" data-toggle="tooltip"></a>
                    </li>
                    <li class="page-item" th:classappend="${products.number eq products.totalPages - 1} ? 'disabled'">
                        <a class="page-link"
                           th:href="@{/products?page={id}(id=${products.number + 2})}"
                           aria-label="Next" title="Next Page" data-toggle="tooltip">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
</body>
</html>
