<footer class="footer mt-auto py-3 bg-light fixed-bottom"
        xmlns:th="http://www.thymeleaf.org"
        th:fragment="footer">
    <div class="container text-center">
        <span class="text-muted">tg: </span>
        <a class="text-muted" href="https://t.me/aliaswakeup"> @aliaswakeup</a><br>
        <span class="text-muted">VK: </span>
        <a class="text-muted" href="https://vk.com/id578674008"> Никита Журкин</a><br>
        <span class="text-muted">email: zhurkin236@gmail.com</span><br>
        <span class="text-muted">© 2023 Zhurkin Nikita Sergeevich</span>
    </div>
</footer>
