<header xmlns:th="http://www.thymeleaf.org"
        th:fragment="header">
    <nav class="navbar navbar-expand-md fixed-top" style="background-color: #4dc76d">
        <div class="container-fluid">
            <a class="navbar-brand" href="/" style="color: white">SmartInventory</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        <a class="nav-link active" style="color: white" aria-current="page" href="/products">Товары
                            склада</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="color: #ffffff" aria-current="page" href="/providers">Наши
                            поставщики</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="color: #ffffff" aria-current="page" href="/users">Пользователи
                            платформы</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="color: #ffffff" aria-current="page" href="/orders">Все заказы</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="color: #ffffff" aria-current="page" href="/orders/history/4">История заказов (Менеджер)</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="color: #ffffff" aria-current="page" href="/orders/history/4">История заказов (Ассистент)</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="color: #ffffff" aria-current="page" href="/orders">Неподтвержденные заказы (Ассистент)</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="color: #ffffff" aria-current="page" href="/orders">Доступные для работы заказы (Работник)</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="color: #ffffff" aria-current="page" href="/order-details">Текущие заказы (Работник)</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="color: #ffffff" aria-current="page" href="/order-details">История заказов (Работник)</a>
                    </li>

                    </li>
                    <!--                    <li sec:authorize="isAuthenticated() && (hasRole('LOADER') || hasRole('COLLECTOR'))" class="nav-item">-->
                    <!--                        <a class="nav-link" aria-current="page" href="/rent/user-books">Мои заказы</a>-->
                    <!--                    </li>-->
                    <!--                    <li sec:authorize="isAuthenticated() && (hasRole('ADMIN') || hasRole('LIBRARIAN'))"-->
                    <!--                        class="nav-item">-->
                    <!--                        <a class="nav-link" aria-current="page" href="/users">Пользователи</a>-->
                    <!--                    </li>-->
                </ul>
                <!--                <div sec:authorize="isAuthenticated() && !hasRole('ADMIN')">-->
                <!--                    <a class="nav-link active" style="float: right"-->
                <!--                       th:href="'/users/profile/' + ${#authentication.getPrincipal().getUserId()}">Профиль</a>-->
                <!--                </div>-->

                <!--                <form class="d-flex" sec:authorize="!isAuthenticated()">-->
                <!--                    <a href="/login" class="btn btn-primary" role="button" aria-disabled="true">Войти</a>-->
                <!--                </form>-->
                <!--                <form class="d-flex" sec:authorize="isAuthenticated()">-->
                <!--                    <a href="/logout" class="btn btn-primary" role="button" aria-disabled="true">Выйти</a>-->
                <!--                </form>-->
            </div>
        </div>
    </nav>
</header>
